#### 1 no

In [3]:
a_friends = {"Rahim", "Karim", "Sakib", "Jamal"}
b_friends = {"Sakib", "Jamal", "Rafiq", "Nadim"}

Mutual=a_friends & b_friends 
Unique_to_a=b_friends-a_friends
Unique_to_b=a_friends-b_friends
Total_unique_friends=a_friends | b_friends

print(f"Mutual friends:",Mutual)
print(f"Unique to A:",Unique_to_a)
print(f"Unique to B:",Unique_to_b)
print(f"Total unique friends:",len(Total_unique_friends))

Mutual friends: {'Jamal', 'Sakib'}
Unique to A: {'Nadim', 'Rafiq'}
Unique to B: {'Karim', 'Rahim'}
Total unique friends: 6

In [10]:
students = [("Rafi", 89), ("Sumi", 95), ("Hasan", 90), ("Nila", 75), ("Anik", 98)]
desc=sorted(students,key=lambda i:i[1],reverse=True)
top_3=desc[:3]
print("Top 3 students:")
for students in top_3:
    print(f"{students[0]}-{students[1]}")

Top 3 students:
Anik-98
Sumi-95
Hasan-90

In [12]:
words = ["sun", "planet", "moon", "star", "universe"]
num_gr_4=list(filter(lambda x:len(x)>4,words))
print(num_gr_4)

['planet', 'universe']

In [14]:
nums = [1, 2, 3, 4, 5, 6]
even_nums=filter(lambda x:x%2==0,nums)
sq=list(map(lambda x:x**2,even_nums))
print(sq)

[4, 16, 36]